*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.section1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.background-section1{
    background-image: url('Assets/fundo-section1.jpg');

}

.section1 .title{
    margin-top: 15px;
    margin-bottom: 50px;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.section1 .carrousel{
    width: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carrousel-title{
    margin-bottom: 60px;
}

.carrousel .d-block{
    border-radius: 30px;
}

.cad{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px 0 20px;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    font-family: 'Roboto Slab' serif;
}

.cad-title{
    margin-bottom: 30px;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    font-family: 'Roboto Slab' serif;
    
}

form input{
    width: 300px;
    margin-bottom: 40px; 
    padding: 10px;
    border-radius: 10px;
}

.submit{
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}

.submit:hover{
    background-color: black;
    color: white;
    border: solid white 1px;
}

footer{
    width: 100%;
    justify-content: center;
}

.sMedia{
    background-color: black;
    display: flex;
    color: white;
}

.fab{
    margin-right: 10px;
    color: white;
}

/* -- Responsividade -----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 920px) {
    .section1{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .main-container{
        width: 400px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        
    }
}

@media screen and (max-width: 520px) {

    .main-container{
        width: 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .section1 .carrousel{
        width: 420px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

